build/
.gradle/
.checkstyle
.settings/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
src/test/data/sandbox/
.DS_Store
./screenshot*.png
classes/
/bin/
/data/
src/main/resources/docs/
out/
/src/test/data/XmlSerializableAddressBookTest/
/src/test/data/XmlSerializableMakerManagerJobsTest/
/src/test/data/XmlSerializableMakerManagerMachinesTest/
/config\.json
preferences\.json
